body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.main {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px; /* Match signup container width */
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333; /* Darker color for heading */
}

/* Light color for labels and text */
.e11 label,
.p11 label,
p {
  color: #666; /* Lighter text color */
}

.e11,
.p11,
.l11 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.password-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.password-container input {
  width: calc(100% - 10px);
  padding-right: 40px;
}

.password-container .eye-icon {
  position: absolute;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: gray;
}

.password-container .eye-icon.visible {
  color: black;
}

.l11 input {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
}

.l11 input:hover {
  background-color: #218838;
}

p {
  text-align: center;
  font-size: 14px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
